.git/

# Variáveis de ambiente
backend/node_modules/

# Variáveis de ambiente
.env
backend/.env

backend/src/generated

# Código resultante da compilação do TypeSrcipt
dist/
backend/dist/